html, body {
    background-color: #a09380;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Courier New';
  }
  
.progress-wrapper {
    display:block;
    width: 100%;
    padding-left: 200px;
    max-width:100%;
    margin: 50px 150px 100px 150px;
  }
.progress-point {
    background-color:#E6E6E6;
    float:left;
    height:50px;
    width:50px;
    border:2px solid #3b3a30;
    border-radius: 30px;
    box-shadow:0 1px 1px #E0E0E0;
}

.active{
    border:2px solid orange;
}

i {
    font-size:28px;
}

.wrong {
    background-color:red;
}

.fa-close {
    display:block;
    padding: 12px 14px;
    color:#444;
}

.right {
    background-color:green;
}

.fa-check {
    display:block;
    padding: 12px 11px;
    color:#444;
}

.progress-waypoint {
    float:left;
    width:50px;
    height:5px;
    background-color:#3b3a30;
    position:relative;
    top:24px;
    border-bottom:1px solid #E0E0E0;
}


.display{
    margin-top: 50px;
    width:70%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

p{
    font-size: 50px;
}

input{
    height: 50px;
    background-color:#fcd12a;
    font-family: 'roboto';
    border:none;
    font-size:50px;
    text-align: center;
    border-bottom: 2px solid grey;
}

input:focus{
    outline:none;
    border:none;
    border-bottom: 2px solid black;
}

a{
    text-decoration: none;
}

#result{
    padding:30px;
    display: none;
    width: 100%;
    /* flex-direction: row;
    align-items: center;
    justify-content: center; */
    margin-top: 50px;
}

#score{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}


.hint{
    position: relative;
    margin-top: 180px;
    border-radius: 50%;
    margin-left: 1000px;
}

.show{
    padding:5px;
    background-color: rgba(36, 32, 32, 0.5);
    display:none;
    color:white;
}

table{
    margin:50px;
    font-size: 30px;
}

table tr td{
    border:2px solid black;
    border-collapse: collapse;
}

td{
    padding:10px;
    text-align: center;
    font-family: serif;
}

#msg{
    font-size: 30px;
    font-family: cursive;
}